<div class="layout">
  <%= render 'cursos/sidebar', curso: @curso %>

  <div class="content-evaluaciones">
    <h1>Evaluaciones del curso <%= @curso.nombre %></h1>
    <h2>Nueva evaluación para <%= @curso.nombre %></h2>
    
    <% if @evaluacion.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(@evaluacion.errors.count, "error") %> impidió crear la evaluación:</h4>
        <ul>
          <% @evaluacion.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div class="form-evaluacion">
      <%= form_for([@curso, @evaluacion], url: curso_evaluaciones_path(@curso)) do |f| %>
        <div>
          <%= f.label :nombre_evaluacion, "Nombre de la Evaluación" %>
          <%= f.text_field :nombre_evaluacion, class: "input" %>
        </div>

        <div>
          <%= f.label :fecha_inicio, "Fecha de Inicio" %>
          <%= f.datetime_select :fecha_inicio, class: "input" %>
        </div>

        <div>
          <%= f.label :fecha_termino, "Fecha de Término" %>
          <%= f.datetime_select :fecha_termino, class: "input" %>
        </div>

        <div>
          <%= f.submit 'Crear Evaluación', class: "btn-submit-evaluacion" %>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </div>
</div>
