<div class="perfil-container2">
  <div class="perfil-header">
    <!-- Lugar para el avatar (comentado por ahora) -->
    <!-- <div class="avatar-placeholder"></div> -->
    <h1><%= current_profesor.nombre %> <%= current_profesor.apellido %></h1>
  </div>

  <!-- Sección de edición del perfil a la derecha -->
  <div class="perfil-form">
    <%= form_for(current_profesor, url: edit_profesor_registration_path) do |f| %>
      <div class="form-group">
        <%= f.label :email, "Correo electrónico" %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, "Contraseña (déjalo en blanco si no deseas cambiarla)" %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmar Contraseña" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :current_password, "Contraseña actual (para confirmar los cambios)" %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit "Actualizar perfil", class: 'btn-actualizar-perfil' %>
      </div>
    <% end %>

    <!-- Sección de eliminación de cuenta -->
    <div class="eliminar-cuenta">
      <h3>Cancelar mi cuenta</h3>
      <p>¿Descontento?</p>
      <%= button_to 'Cancelar mi cuenta', registration_path(current_profesor), method: :delete, class: 'btn-cancelar-cuenta' %>
    </div>

    <%= link_to 'Volver', profesores_menu_principal_path, class: 'btn-volver' %>
  </div>
</div>
