<div class="form-container">
  <!-- Lado izquierdo: Botón de iniciar sesión -->
  <div class="col-left">
    <%= link_to "INICIAR SESIÓN", new_session_path(resource_name), class: "btn-log-in" %>
    <%= link_to "VOLVER A INICIO", root_path, class: "btn-log-in" %>
  </div>

  <!-- Lado derecho: Formulario de creación de cuenta -->
  <div class="col-right">
    <% if resource.is_a?(Alumno) %>
      <h2 class="titulo">CREAR CUENTA ALUMNO</h2>
    <% elsif resource.is_a?(Profesor) %>
      <h2 class="titulo">CREAR CUENTA PROFESOR</h2>
    <% end %>

    <% if resource.errors.any? %>
      <div class="error-messages">
        <h4><%= pluralize(resource.errors.count, "error") %> impidió crear la cuenta:</h4>
        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <!-- Campos específicos de Alumno -->
      <% if resource.is_a?(Alumno) %>
        <div class="field">
          <%= f.label :nombre %><br />
          <%= f.text_field :nombre, class: "input" %>
        </div>

        <div class="field">
          <%= f.label :apellido %><br />
          <%= f.text_field :apellido, class: "input" %>
        </div>

        <div class="field">
          <%= f.label :numero_alumno %><br />
          <%= f.text_field :numero_alumno, class: "input" %>
        </div>
      <% end %>

      <!-- Campos específicos de Profesor -->
      <% if resource.is_a?(Profesor) %>
        <div class="field">
          <%= f.label :nombre %><br />
          <%= f.text_field :nombre, class: "input" %>
        </div>

        <div class="field">
          <%= f.label :apellido %><br />
          <%= f.text_field :apellido, class: "input" %>
        </div>

        <div class="field">
          <%= f.label :nombre_usuario %><br />
          <%= f.text_field :nombre_usuario, class: "input" %>
        </div>
      <% end %>

      <!-- Campos comunes (email, password, etc.) -->
      <div class="field">
        <%= f.label :mail %><br />
        <%= f.email_field :mail, class: "input" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: "input" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: "input" %>
      </div>

      <div class="actions">
        <%= f.submit "REGISTRAR", class: "btn-registrar" %>
      </div>
    <% end %>
  </div>
</div>
