<!-- Barra de navegación principal, fuera del contenedor-profesor -->
<nav class="navbar">
  <ul class="navbar-list">
    <!-- Sección de Cursos -->
    <li class="navbar-item dropdown">
      <a href="#" class="navbar-link">ADMIN</a>
      <div class="dropdown-content">
        <%= link_to 'Detalles cursos', cursos_path, class: 'dropdown-link' %>
        <%= link_to 'Agregar curso', new_curso_path, class: 'dropdown-link' %>
      </div>
    </li>

    <!-- Sección de Cursos -->
    <li class="navbar-item dropdown">
      <a href="#" class="navbar-link">CURSOS</a>
      <div class="dropdown-content">
        <% @cursos.each do |curso| %>
          <%= link_to curso.nombre, curso_path(curso), class: 'dropdown-link' %>
        <% end %>
      </div>
    </li>

    <!-- Este elemento vacío ayuda a empujar el botón de cerrar sesión hacia la derecha -->
    <li class="navbar-item flex-space"></li>

    <!-- Avatar del profesor y texto "MI CUENTA" -->
    <li class="navbar-item">
      <!-- Enlace que lleva a la configuración de la cuenta -->
      <%= link_to edit_profesor_registration_path do %>
        <div class="avatar-wrapper">
          <div class="avatar-container">
            <%= image_tag(current_profesor.avatar.present? ? current_profesor.avatar.url : 'default-avatar.png', class: 'avatar-img') %>
          </div>
          <span class="perfil-text">MI CUENTA</span> <!-- Texto "MI CUENTA" debajo de la imagen -->
        </div>
      <% end %>
    </li>

    <li class="navbar-item">
      <span class="navbar-text">UC</span>
    </li>

    <!-- Botón de Cerrar sesión alineado a la derecha -->
    <li class="navbar-item">
      <%= button_to 'Cerrar sesión', destroy_profesor_session_path, method: :delete, class: 'btn-cerrar-sesion3' %>
    </li>
  </ul>
</nav>

<!-- Contenedor principal para el contenido -->
<div class="container-profesor">
  <!-- Subtítulo alineado a la izquierda -->
  <h2 class="subtitulo-bienvenida">Bienvenido Profesor <%= current_profesor.nombre %>!</h2>
</div>
