<div class="curso-page">
  <!-- Renderizamos el sidebar -->
  <%= render 'cursos/sidebar' %>

  <!-- Contenedor principal para editar un grupo -->
  <div class="nuevo-grupo-container">
    <h1>Editar el grupo: <%= @grupo.nombre %></h1>

    <%= form_with model: [@curso, @grupo], local: true do |f| %>
      <div class="form-group">
        <%= f.label :nombre, 'Nombre del Grupo' %>
        <%= f.text_field :nombre, id: 'grupo_nombre', class: 'form-control' %>
      </div>


      <div class="form-group">
        <h2>Seleccionar alumnos</h2>
        <% @alumnos.each do |alumno| %>
          <div class="form-check">
            <%= check_box_tag 'grupo[alumno_ids][]', alumno.id, @grupo.alumnos.include?(alumno), class: 'form-check-input' %>
            <%= label_tag "grupo_alumno_ids_#{alumno.id}", "#{alumno.nombre} #{alumno.apellido} - #{alumno.numero_alumno}", class: 'form-check-label' %>
          </div>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.submit 'Actualizar Grupo', class: 'btn-crear-grupo' %>
      </div>
    <% end %>
  </div>
</div>
