<div class="curso-page">
  <!-- Renderizamos el sidebar -->
  <%= render 'cursos/sidebar' %>

  <!-- Contenedor de grupos -->
  <div class="grupos-container">
    <h1>Grupos de <%= @curso.nombre %></h1>

    <div class="btn-container">
      <%= link_to 'Crear nuevo grupo', new_curso_grupo_path(@curso), class: 'btn-crear-grupo' %>
    </div>

    <ul class="grupos-lista">
      <% @grupos.each do |grupo| %>
        <li class="grupo-item">
          <%= grupo.nombre %>

          <!-- Enlace para ver el grupo -->
          <%= link_to 'Ver grupo', curso_grupo_path(@curso, grupo), class: 'btn-ver-grupo' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
