<div class="form-container">
  <!-- Lado izquierdo: Bot贸n de crear cuenta (redirigir a registro) -->
  <div class="col-left">
    <%= link_to "Crear cuenta", new_registration_path(resource_name), class: "btn-crear-cuenta" %>
  </div>

  <!-- Lado derecho: Formulario de inicio de sesi贸n -->
  <div class="col-right">
    <h2 class="titulo">Iniciar sesi贸n</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Iniciar sesi贸n", class: "btn-log-in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
