<!DOCTYPE html>
<head>
  <title>SAVNAC</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'errores', media: 'all' %>
  <%= stylesheet_link_tag 'menu_profesores', media: 'all' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'cursos_show', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'cursos', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>

  <!-- Fuente de Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Aquí agregamos los mensajes flash -->
  <% if notice %>
    <div class="alert alert-notice">
      <%= notice %>
    </div>
  <% end %>

  <% if alert %>
    <div class="alert alert-alert">
      <%= alert %>
    </div>
  <% end %>

  <!-- El contenido principal -->
  <%= yield %>
</body>
</html>

